<!-- /schedules/new -->
<div class="new">
    <p class="title">スケジュール登録</p>

    <%= render "shared/error", model: @schedule %>

    <%= form_with model: @schedule do |f| %>
        <div class="form-group">
            <%= f.label :title, "タイトル", class: "required" %>
            <%= f.text_field :title, class: "form-control", placeholder: "タイトル" %>
        </div>

        <div class="form-group row">
            <div class="col-6">
                <%= f.label :startDay, "開始日", class: "required" %>
                <%= f.date_field :startDay, class: "form-control" %>
            </div>

            <div class="col-6">
                <%= f.label :endDay, "終了日", class: "required" %>
                <%= f.date_field :endDay, class: "form-control" %>
            </div>
        </div>

        <div class="form-group">
            <%= f.check_box :allDay %>
            <%= f.label :allDay, "<span aria-hidden='true'>&larr;</span> 終日の場合はチェック".html_safe %>
                <!--html_safeは、ラベルに含まれているHTMLタグ(span)が正常にレンダリングされるように記載している-->
        </div>

        <div class="form-group">
            <%= f.label :memo, "メモ" %>
            <%= f.text_area :memo, class: "form-control", rows: 3, placeholder: "メモを入力"%>
        </div>

        <div class="form-group buttons">
            <%= link_to "キャンセル", :schedules, class: "btn btn-secondary" %>
            <%= f.submit "登録", class: "btn btn-primary" %>
        </div>
    <% end %>
</div>
